#advanced_search_panel{
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 9999;
}

#content_bg{
    background: #F0F0F0;
}

li a{
    color : white;
}
#center_main{
    margin-top: 10px;
}