#advanced_search_panel{
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 9999;
}


li a{
    color : white;
}
#center_main{
    margin-top: 10px;
    
}

#search_field{
    
    width: 350px;
    
}
#order_book_part{
    padding-right: 30px;
}

#order_book_info .row{
    
    margin-bottom: 10px;
    
}
ul li a{
    font-size: 12px;
}
#restore_pass_form input {
    margin: 10px;
}
