#advanced_search_panel{
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 9999;
}

#search_field{
    
    width: 350px;
    
}
#order_book_part{
    padding-right: 30px;
}

#order_book_info .row{
    margin-bottom: 10px;    
}
ul li a{
    font-size: 12px;
}
#restore_pass_form input {
    margin: 10px;
}

.my-error-class{
    color: red;
}


#search_panel, #pages, #years{
	background: #EAEAEA;
}

#search_panel{
	
	border-radius: 10px;
	
}

#search_panel  .row{
	
	padding: 0 10px;
	
}

.row.well{
	min-height: 640px;
}