#order_wrapper{
    
    
    
}

#book_info_wrapper{
    width: 70%;
    float: left;
    
}

#book_ordering_wrapper{
    width: 29%;
    float: left;
    
}

#img_div{
    float: left;
    width: 50%;
}

#img_div img{
    width: 100%;
    height: auto;
}

#book_info{
    float: left;
    width: 49%;
    
}

#book_info span{
    display: block;
    
}
#book_info #description{
    
    display: block;
    margin-top: 30px; 
    
}

/*#book_description{
    width: 100%;
    float: left;
}*/

#ordering_div{
    width: 100%;
    padding: 15%;
}

#wishing_div{
    width: 100%;
    padding: 15%;
    
    
}

/*popup*/
#popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: gray;
    width: 250px;
    height: 250px;
    opacity: 1;
}

#orders_wrap{
    float: left;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%
}

ul{
    list-style-type: none;
}

li div{
    list-style-type: none;
    float: left;
}

